/* src/App.css */
.App {
    display: flex; /* Bố cục chính là Flexbox theo chiều dọc */
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex; /* Bố cục này là Flexbox theo chiều ngang */
    flex-grow: 1; /* Cho phép khu vực này chiếm hết không gian còn lại */
}

.content-area {
    flex-grow: 1; /* Khu vực này sẽ chiếm hết không gian còn lại của main-content */
    padding: 20px;
    background-color: #f4f7f5;
}