/* src/App.css */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo ứng dụng chiếm toàn bộ chiều cao màn hình */
}

.main-content {
    display: flex; 
    flex-grow: 1; /* Cho phép khu vực này chiếm hết không gian còn lại */
}

.content-area {
    flex-grow: 1; /* Khu vực này sẽ chiếm hết không gian còn lại của main-content */
    padding: 20px;
    background-color: #f4f7f5;
    overflow-y: auto;
}